@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: "Posterman";
}

@font-face {
    font-family: "Posterman";
    src: url("./assets/fonts/Posterman.otf");
}

@font-face {
    font-family: "Streamster";
    src: url("./assets/fonts/Streamster.ttf");
}

@font-face {
    font-family: "Vicenza";
    src: url("./assets/fonts/Vicenza.otf");
}